/* ================================ home page start ================================ */

.error-message {
  color: red !important;
}

.mainBannerSec {
  margin-top: -11rem;
}

.mainBannerBg {
  background-image: url('../Images/cab.jpg') !important;
  padding-top: 190px;
  /* padding-bottom: 170px; */
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.mainBannerBg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: -0.5px;
  top: 0;
  background: linear-gradient(270deg, rgba(5, 16, 54, 0.5) 0%, #051036 72.43%) !important;
  z-index: -1;
}

.mainBannerBg .homeBannerContent .bannerTitle {
  font-size: 52px;
  font-weight: 600;
  margin: 15px 0;
  line-height: 1;
}

.mainBannerBg .homeBannerContent .bannerP {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* ================================ home page end ================================ */


/* ================================ tab home search css start ================================ */

.search-nav {
  overflow-x: auto;
  overflow-scrolling: touch;
  list-style-type: none;
  padding: 0;
  margin: 0 10rem;
  display: flex;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
  align-items: center;
  padding: 0px 30px;
  justify-content: center;
  position: relative;
  /* top: 41px; */
  top: 0px;
  gap: 2rem;
  z-index: 99;
}

.search-nav .nav-item {
  margin: 5px;
}

.search-nav .nav-link {
  /* background: var(--light-primary); */
  border-radius: 50px;
  padding: 2px 16px;
  font-weight: 500;
  color: var(--primary);
  position: relative;
  transition: none;
}

.search-nav img {
  height: 50px;
  width: 50px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: #fff !important;
  color: var(--primary) !important;
}

.blueWay {
  color: var(--primary);
}

.blackWay {
  color: #000000;
}

.nav-pills .nav-link.active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #3b9cd6;
  right: auto;
  left: 0;
  bottom: -3px;
}

.bannerSearchDiv {
  position: relative;
  text-align: start;
  background: #fff;
  padding: 5rem 1.5rem 4rem;
  border-radius: 8px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  top: -60px;
}


.firstRadioBtn {
  margin: 0 0 -1px;
  padding: 5px 15px 7px 34px;
  font-weight: 600;
  text-align: center;
  font-size: 13px;
  color: #000;
  border-radius: 13.5px;
  border: 1px solid #c6bfbf;
  background: #eaf5ff !important;
}

.secondEadioBtn {
  margin: 0 0 -1px;
  padding: 5px 15px 7px 34px;
  font-weight: 600;
  text-align: center;
  color: #000;
  font-size: 13px;
  border-radius: 13.5px;
  border: 1px solid #c6bfbf;
}

.new {
  background-image: linear-gradient(2.7174rad, rgb(255, 52, 52), rgb(174, 51, 51));
  position: absolute;
  padding: 7px 13px;
  color: #fff;
  border-radius: 15px;
  line-height: 20px;
  /* top: 26px; */
  z-index: 1;
  left: 244px;
  font-size: 16px;
}

.addStops {
  color: var(--primary);
  margin-top: 5px;
  font-weight: 600;
}

.new1 {
  background-image: linear-gradient(2.7174rad, rgb(255, 52, 52), rgb(174, 51, 51));
  position: absolute;
  padding: 7px 13px;
  color: #fff;
  border-radius: 15px;
  line-height: 20px;
  top: 74%;
  z-index: 1;
  left: 120px;
  font-size: 16px;
}

.bannerSearchForm .bannerSearchCol {
  background: #fff;
  padding: 1px 16px 0px 15px;
  border-radius: 4px;
  max-width: 1238px;
  margin: 1px auto;
  height: 115px;
  padding-bottom: 0;
  border: solid 1px #e7e7e7;
  margin-top: 14px;
  border-right: none;
}

.bannerSearchForm .bannerSelect label {
  color: #676767;
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  text-align: left !important;
  justify-content: left;
  padding: 0;
  border: none !important;
  box-shadow: none;
  background: transparent;
}

.bannerSearchForm .bannerSelect .css-hlgwow {
  padding: 0px;
}


.bannerSearchForm .firstRadioBtn.form-check,
.bannerSearchForm .secondEadioBtn.form-check {
  padding-left: 2.5em !important;
  margin-bottom: -21px !important;
}

.firstRadioBtn .form-check-input:checked[type=radio],
.secondEadioBtn .form-check-input:checked[type=radio] {
  height: 15px !important;
  width: 14px !important;
  margin-top: 5.5px !important;
}

.bannerSearchForm .bannerSelect .form-control,
.bannerSearchForm .bannerSelect .form-control:active,
.bannerSearchForm .bannerSelect .form-control:focus {
  border: none;
  box-shadow: none;
  padding: 1px 5px 9px 1px;
  font-size: 28px;
  font-weight: 800;
}

.fromSelect .css-19bb58m {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.fromSelect .css-15lsz6c-indicatorContainer,
.fromSelect .css-1xc3v61-indicatorContainer,
.fromSelect .css-1u9des2-indicatorSeparator {
  display: none;
}

.fromSelect .css-du1a0k-control,
.fromSelect .css-du1a0k-control:hover,
.fromSelect .css-13jpnx0-control {
  border: none;
  box-shadow: none;
  padding: 1px 5px 9px 1px;
  font-size: 28px;
  font-weight: 800;
}

.bannerSearchDiv .bannerSearchForm .input-block-btn {
  padding: 8px 66px;
  border-radius: 42px;
  font-weight: 500;
  margin-top: 13px;
  background: linear-gradient(93deg, #53b2fe, #065af3);
  position: absolute;
  bottom: -19px;
  left: auto;
  right: 42%;
  font-size: 20px;
}

.bannerSearchDiv .bannerSearchForm .input-block-btn:hover {
  background-color: #fff;
  border-color: #3b9cd6;
  color: #3b9cd6;
  box-shadow: inset 0 50px 0 0 #fff;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s
}

/* ================================ tab home search css end ================================ */


/* ================================ Clean and Hygienic Car start ================================ */

.mainClean {
  box-shadow: 0 1px 30px 0 rgb(0 0 0 / 10%);
  background-color: #ffffff;
  border-radius: 30px;
  padding: 0 10px;
}

.mainClean .secondClean {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainClean .secondClean .thiredClean {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  border-right: 1px #d8d8d8 solid;
  cursor: pointer;
  gap: 12px;
}

.mainClean .secondClean .thiredClean:last-child {
  border-right: unset !important;
}

/* ================================ Clean and Hygienic Car end ================================ */


/* ================================ Special Benefits Section Css start ================================ */

.benefits-sec {
  padding: 80px 0;
  position: relative;
}

.benefits-sec .benefitsSec-bg .anchor-img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1
}

.benefits-sec .benefitsSec-bg .vector-round {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1
}

.benefits-sec .benefitsSec-bg .design-round {
  position: absolute;
  right: 50px;
  top: 120px;
  z-index: -1
}

.benefits-sec .benefitsRoundSec-colors span {
  position: absolute;
  z-index: -1
}

.benefits-sec .benefitsRoundSec-colors span:first-child {
  right: 40%;
  top: 10%
}

.benefits-sec .benefitsRoundSec-colors span:nth-child(2) {
  right: 20%;
  bottom: 100px
}

.benefits-sec .benefitsRoundSec-colors span:nth-child(3) {
  left: 15%;
  top: 30%
}

.benefits-sec .benefitsRoundSec-colors span:last-child {
  left: 50%;
  bottom: 50px
}

.customerSec-colors .round-big {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: block;
  z-index: -1;
}

.clientReviewColors .round-small,
.customerSec-colors .round-small,
.aboutSecRound .round-small,
.benefitsRoundSec-colors .round-small {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  z-index: -1
}

.customerSec-colors .round-small.bg-orange,
.aboutSecRound .round-small.bg-orange,
.benefitsRoundSec-colors .round-small.bg-orange {
  background: #3b9cd6 !important;
}

.customerSec-colors .round-small.bg-dark-blue,
.customerSec-colors .round-big.bg-dark-blue,
.aboutSecRound .round-small.bg-dark-blue,
.benefitsRoundSec-colors .round-small.bg-dark-blue {
  background: #3b9cd6 !important;
}

.benefits-sec .view-more-btn {
  margin-top: 16px
}

.benefitsSec-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px
}

.benefitsSec-header h2 {
  font-size: 31px;
  color: #0a152f;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px
}

.benefitsSec-header h2::after {
  content: "";
  background-image: url(../Images/bg/title-bar.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px
}

.benefitsSec-header p {
  color: #676767;
  font-size: 18px;
  max-width: 730px;
  text-align: center
}

.benefitsCatGrid {
  box-shadow: 0 4px 24px 0 rgba(225, 225, 225, .2509803922);
  background: #fff;
  border-radius: 5px;
  margin-bottom: 24px
}

.benefitsCatGrid .benefitsCardImg {
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0
}

.benefitsCatGrid .benefitsCardImg img {
  border-radius: 5px 5px 0 0;
  transition: .5s all
}

.benefitsCatGrid .benefitsCardImg:hover img {
  transform: scale(1.15);
  transition: .5s all
}

.benefitsCatGrid .benefitsCardContent {
  padding: 15px
}

.benefitsCatGrid .benefitsCardContent h4 {
  font-size: 18px;
  font-weight: 500;
  color: #0a152f
}

.benefitsCatGrid .benefitsCardContent h4 a {
  color: #0a152f
}

.benefitsCatGrid .benefitsCardContent h4 a:hover {
  color: #3b9cd6
}

.benefitsCatGrid .benefitsCardContent span {
  color: #676767;
  font-size: 14px
}

.benefitsCatGrid .benefitsCardContent .arrow-right {
  color: #dbdbdb;
  transition: .5s all
}

.benefitsCatGrid .benefitsCardContent .arrow-right:hover {
  color: #3b9cd6;
  transition: .5s all
}

/* ================================ Special Benefits Section Css end ================================ */


/* ================================ One Way Taxi Routes Section Css Start ================================ */

.commonSection {
  position: relative;
  padding: 80px 0;
}

.taxiPopularServices {
  background: #f2f7f6
}

.taxiSec-heading {
  text-align: center;
  margin: 0 0 40px
}

.taxiSec-heading h2 {
  position: relative;
  font-weight: 700;
  margin: 0 0 30px;
  color: #111 !important;
}

.taxiSec-heading h2:after {
  content: "";
  position: absolute;
  background-image: url(../Images/bg/title-head.png);
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  height: 11px;
  right: 0;
  bottom: -22px;
  z-index: 99
}

.taxiSec-heading p {
  max-width: 518px;
  margin: auto;
  font-size: 18px
}

.taxiPopularServices .taxiListingGroup {
  margin: 0 0 40px
}

.taxiPopularServices .taxiListingGroup ul {
  display: flex;
  align-items: center;
  justify-content: center
}

.taxiPopularServices .taxiListingGroup ul li a {
  background: #fff;
  border: 1px solid #f4f4f4;
  padding: 10px 22px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 15px;
  font-weight: 600;
  color: #676767;
  border-radius: 6px
}

.taxiPopularServices .taxiListingGroup ul li a.active {
  background: #3b9cd6;
  color: #fff
}

.taxiPopularServices .taxiListingGroup ul li a:hover {
  background: #3b9cd6;
  color: #fff
}

.taxiPopularServices .taxiListingGroup ul li a span {
  margin: 0 8px 0 0;
  padding: 10px;
  line-height: 0;
  background: #fcfcfc;
  border: 1px solid #f2f7f6;
  border-radius: 6px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center
}

.taxiAboutList {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border: 1px solid #f5f5f5;
  min-height: 100px;
  width: 100%;
  transition: .5s;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(17 121 239 / 15%);
  background: #fff
}

.taxiInstyIcon img {
  object-fit: cover;
  height: 99px;
}

.taxiInstyIcon {
  display: flex !important;
  align-items: center !important;
  width: 35%;
  background: #f5f5f5 !important;
}

.taxiInstryText {
  width: 65%;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.taxiInstryText h4.taxiSubHead {
  margin: 0;
  font-size: 16px;
}

h4.taxiSubHead {
  font-size: 18px;
  font-weight: 600;
  color: #032d60;
  line-height: 28px;
  margin: 5px 0 15px;
}

/* ================================ One Way Taxi Routes Section Css End ================================ */


/* ================================ Why Choose Us Section Css Start ================================ */

.whyChoose .whyChoose-right {
  position: absolute;
  top: 0;
  right: 0
}

.whyChoose-heading {
  text-align: center;
  margin: 0 0 40px
}

.whyChoose-heading h2 {
  position: relative;
  font-weight: 700;
  margin: 0 0 30px;
  color: #111 !important;
}

.whyChoose-heading h2:after {
  content: "";
  position: absolute;
  background-image: url(../Images/bg/title-head.png);
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  height: 11px;
  right: 0;
  bottom: -22px;
  z-index: 99
}

.whyChoose-heading p {
  max-width: 518px;
  margin: auto;
  font-size: 18px
}

.whyChoose .services-group {
  margin: 0 0 24px;
  padding: 24px;
  border-bottom: 2px solid #3b9cd6;
  text-align: center;
  position: relative
}

.whyChoose .services-group::before {
  position: absolute;
  top: 72px;
  right: 0;
  left: calc(50% + 65px);
  content: "";
  border: 1px dashed #dbdbdb;
  width: calc(100% - 106px)
}

.whyChoose .services-group.service-date {
  border-color: #3b9cd6 !important;
}

.whyChoose .services-group.service-loc {
  border-color: #ff9307 !important;
}

.whyChoose .services-group.service-book {
  border-color: #201f1d !important;
}

.whyChoose .services-group .services-icon .bg-secondary {
  background: #3b9cd6 !important
}

.border-secondary {
  border: 2px dashed #3b9cd6 !important;
}

.bg-warning {
  background: #ff9307 !important
}

.border-warning {
  border: 2px dashed #ff9307
}

.bg-dark {
  background: #201f1d
}

.border-dark {
  border: 2px dashed #201f1d
}

.whyChoose .services-group.service-book::before {
  content: none
}

.whyChoose .services-group .services-icon {
  border-radius: 50px !important;
  margin: 0 0 35px;
  padding: 10px;
  background: #fff;
  position: relative;
  z-index: 99
}

.whyChoose .services-group .services-icon .icon-img {
  border-radius: 50px;
  width: 72px;
  height: 72px;
  padding: 10px
}

.whyChoose .services-group .services-content h3 {
  font-weight: 600;
  margin: 0 0 10px;
}

/* ================================ Why Choose Us Section Css End ================================ */


/* ================================ About Anywaycab Section Css Start ================================ */


.abouttAnyWaySec {
  padding: 80px 0;
  background: #fff;
  position: relative;
  z-index: 1
}

.abouttAnyWaySec .aboutSecHeaderTwo {
  align-items: start;
  text-align: left;
  padding-left: 50px;
  margin-bottom: 30px
}

.abouttAnyWaySec .aboutSecHeaderTwo p {
  text-align: left;
  font-size: 16px;
  margin-bottom: 20px
}

.aboutSecHeaderTwo h2 {
  font-size: 31px;
  color: #0a152f;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px
}

.abouttAnyWaySec .aboutSecHeaderTwo h2::after {
  left: 0;
  transform: none;
}

.aboutSecHeaderTwo h2::after {
  content: "";
  background-image: url(../Images/bg/title-bar.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px
}

.abouttAnyWaySec .aboutSecHeaderTwo h4 {
  color: #676767;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 5px
}

.abouttAnyWaySec .aboutSecRound span {
  position: absolute;
  z-index: -1
}

.abouttAnyWaySec .aboutSecRound span:first-child {
  left: 5%;
  top: 20px
}

.abouttAnyWaySec .aboutSecRound span:nth-child(2) {
  right: 5%;
  top: 5%
}

.abouttAnyWaySec .aboutSecRound span:nth-child(3) {
  right: 10%;
  top: 60%
}

.abouttAnyWaySec .aboutSecRound span:nth-child(4) {
  left: 50px;
  top: 65%
}

.abouttAnyWaySec .aboutSecBg img:first-child {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  max-width: 600px
}

.abouttAnyWaySec .aboutSecBg img:nth-child(2) {
  position: absolute;
  z-index: -1;
  right: 50px;
  top: 80px
}

.aboutSecColLeftImg {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px
}

.aboutSecColLeftImg>span {
  display: inline-flex;
  border-radius: 10px
}

.aboutSecColLeftImg>span.sec-left-two {
  margin-left: -50px
}

.aboutSecColLeftImg>span img {
  border-radius: 10px
}

.aboutSecColLeftImg .experience-info {
  width: 153px;
  height: 153px;
  box-shadow: 0 4px 24px 0 rgba(225, 225, 225, .2509803922);
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.aboutSecColLeftImg .experience-info h5 {
  color: #3b9cd6;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}

.aboutSecColLeftImg .experience-info h5 span {
  font-size: 14px;
  display: block;
  color: #676767;
  font-weight: 400
}

.learnMore {
  background-color: #3b9cd6 !important;
  border: 1px solid #3b9cd6 !important;
  box-shadow: inset 0 0 0 0 #fff !important;
}

.learnMore:hover {
  background-color: #fff !important;
  border-color: #3b9cd6 !important;
  color: #3b9cd6 !important;
  box-shadow: inset 0 50px 0 0 #fff !important;
  transition: all .5s !important;
}

/* ================================ About Anywaycab Section Css End ================================ */


/* ================================ Customers count Section Css Start ================================ */

.customerSec {
  background: #f2f7f6;
  padding: 80px 0 70px;
  position: relative;
  z-index: 1
}

.customerSec .customerSec-colors span {
  position: absolute;
  z-index: -1
}

.customerSec .customerSec-colors span:first-child {
  left: 5%;
  top: 5%
}

.customerSec .customerSec-colors span:nth-child(2) {
  right: 6%;
  bottom: 45%
}

.customerSec .customerSec-colors span:nth-child(3) {
  left: 10px;
  top: 50%
}

.customerSec .customerSec-colors span:nth-child(4) {
  left: 5%;
  bottom: 100px
}

.customerCounterGroup {
  margin-bottom: 56px
}

.customerCounterGroup .customerGroup {
  box-shadow: 0 4px 24px 0 rgba(225, 225, 225, .2509803922);
  background: #fff;
  border-radius: 5px;
  padding: 15px;
}

.customerCounterGroup .customerGroup .customerCount .countImg {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #f2f7f6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 24px
}

.customerCounterGroup .customerGroup .countContent h4 {
  font-weight: 700;
  font-size: 28px
}

/* ================================ Customers count Section Css End ================================ */


/* ================================ Local Packages Section Css Start ================================ */

.destinationSec {
  position: relative;
  padding: 80px 0 56px
}

.destinationSec .destinationSecHeading {
  max-width: 672px
}

.destinationBg .shape-01 {
  position: absolute;
  top: 5%;
  left: 5%
}

.destinationBg .shape-02 {
  position: absolute;
  right: 3%;
  bottom: 20%
}

.destinationSecHeading {
  text-align: center;
  margin: 0 0 40px
}

.destinationSecHeading h2 {
  position: relative;
  font-weight: 700;
  margin: 0 0 30px
}

.destinationSecHeading h2:after {
  content: "";
  position: absolute;
  background-image: url(../Images/bg/title-head.png);
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  height: 11px;
  right: 0;
  bottom: -22px;
  z-index: 99
}

.destinationSecHeading p {
  max-width: 518px;
  margin: auto;
  font-size: 18px
}

.destinationWrap {
  position: relative;
  -webkit-transition: 500ms all ease;
  -ms-transition: 500ms all ease;
  transition: 500ms all ease;
  margin-bottom: 24px
}

.destinationWrap .destinationImg img {
  border-radius: 10px
}

.destinationImg img {
  object-fit: cover;
  min-height: 323px;
}

.destinationWrap .destinationContent {
  background: linear-gradient(359.14deg, #000000 -1.08%, rgba(0, 0, 0, 0) 54.58%);
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  -webkit-transition: ease-in-out 1s;
  -ms-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  flex-direction: column
}

.destinationWrap .destinationContent h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #fff
}

.destinationWrap .destinationContent p {
  color: #f5f5f5
}

.destinationWrap .destinationContent .btn {
  border-radius: 5px;
  padding: 7px 20px;
  font-weight: 500;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  white-space: nowrap
}

.destinationWrap .destinationContent .btn i {
  margin-left: 6px
}

.destinationWrap:hover {
  -webkit-transition: 500ms all ease;
  -ms-transition: 500ms all ease;
  transition: 500ms all ease
}

.destinationWrap:hover .btn {
  top: 100px;
  transition: .5s all;
  opacity: 1
}

.destinationWrap:hover .destinationContent {
  -webkit-transition: ease-in-out 1s;
  -ms-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  height: 100%;
  background: linear-gradient(359.14deg, #000000 -1.08%, rgba(0, 0, 0, 0.6) 113.69%)
}

.ViewMore {
  background-color: #3b9cd6 !important;
  border: 1px solid #3b9cd6 !important;
  box-shadow: inset 0 0 0 0 #fff !important;
  color: #fff !important;
}

.ViewMore:hover {
  background-color: #fff !important;
  border-color: #3b9cd6 !important;
  color: #3b9cd6 !important;
  box-shadow: inset 0 50px 0 0 #fff !important;
  transition: all .5s !important;
}

/* ================================ Local Packages Section Css End ================================ */


/* ================================ OneWay Cab Routes Section Css Start ================================ */

.cabRoutesSec {
  background: #f2f7f6
}

.cabRoutesSecHeading {
  text-align: center;
  margin: 0 0 40px
}

.cabRoutesSecHeading h2 {
  position: relative;
  font-weight: 700;
  margin: 0 0 30px
}

.cabRoutesSecHeading h2:after {
  content: "";
  position: absolute;
  background-image: url(../Images/bg/title-head.png);
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  height: 11px;
  right: 0;
  bottom: -22px;
  z-index: 99
}

.cabRoutesSecHeading p {
  max-width: 518px;
  margin: auto;
  font-size: 18px
}

.cabRoutesItem {
  position: relative;
  background: #fff;
  border-radius: 10px;
  margin: 0 0 24px;
  padding: 15px
}

.cabRoutesItem .cabRoutesImg {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 0 10px
}

.cabRoutesItem:hover .cabRoutesImg img {
  -webkit-transform: scale(1.12);
  -moz-transform: scale(1.12);
  transform: scale(1.12);
}

.cabRoutesItem .cabRoutesImg img {
  border-radius: 10px;
  width: 100%;
  transform: translateZ(0);
  transition: all 2000mscubic-bezier(.19, 1, .22, 1) 0ms;
}

.cabRoutesItem .cabRoutesImg .fav-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px;
  z-index: 1;
  font-size: 14px
}

.cabRoutesItem .cabRoutesContent .cabRoutesFeatures {
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin: 0 0 15px;
  padding: 0 0 15px
}

.cabRoutesItem .cabRoutesContent .cabRoutesFeatures .cabRoutesTitle {
  margin-bottom: 5px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500
}

.cabRoutesItem .cabRoutesContent .cabRoutesFeatures .cabRoutesTitle a {
  font-weight: 500;
  color: #111
}

.cabRoutesItem .cabRoutesContent .cabRoutesFeatures .list-rating i.filled {
  color: #ff9307 !important;
}

.cabRoutesItem .cabRoutesContent .cabRoutesFeatures .list-rating span {
  color: #676767 !important;
  margin: 0 0 0 5px !important;
}

.cabRoutesItem .cabRoutesContent .cabRoutesDetails {
  margin: 0 0 15px
}

.cabRoutesItem .cabRoutesContent .cabRoutesDetails ul {
  margin: 0 0 10px
}

.cabRoutesItem:hover {
  -webkit-transition: all .5s !important;
  -moz-transition: all .5s !important;
  -o-transition: all .5s !important;
  transition: all .5s !important;
}

.cabRoutesItem:hover .cabRoutesTitle a {
  color: #3b9cd6 !important;
}


.cabRoutesItem:hover .bookTaxi {
  background-color: #3b9cd6 !important;
  color: #fff;
  border-radius: 5px
}

.cabRoutesItem:hover .img-count {
  -webkit-transition: 500ms all ease;
  -ms-transition: 500ms all ease;
  transition: 500ms all ease;
  opacity: 1
}

.cabRoutesItem .cabRoutesContent .listing-button .bookTaxi {
  background: #201f1d;
  position: relative;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 7px 10px;
  width: 100%;
}

/* ================================ OneWay Cab Routes Section Css End ================================ */


/* ================================ Blogs Section Css Start ================================ */

.blogSec {
  position: relative;
  padding: 80px 0
}

.blogSec.blogNewSec .blogGrid {
  margin-bottom: 40px;
}

.blogSec .blogGrid {
  background: #fff;
  margin: 0 0 25px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  overflow: hidden;
}

.blogSec.blogNewSec .blogGrid {
  margin-bottom: 40px
}

.blogSec .blogImg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px 10px 0 0
}

.blogSec .blogImg>a {
  display: block;
  position: relative;
  width: 100%;
  height: auto
}

.blogSec .blogImg img {
  display: block;
  position: relative;
  border-radius: 10px 10px 0 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -moz-transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
  -ms-transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
  -o-transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
  -webkit-transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
  transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
  width: 100%
}

.blogSec .blogImg img:hover {
  -webkit-transform: scale(1.35) rotate(15deg);
  -moz-transform: scale(1.35) rotate(15deg);
  transform: scale(1.35) rotate(15deg)
}

.blogSec .blogGrid .blogImg {
  overflow: hidden;
  border-radius: 10px 10px 0 0
}

.blogSec .blogContent {
  padding: 20px
}

.blogSec .blogContent .blogCategory {
  margin: 0 0 15px
}

.blogSec .blogContent .blogCategory a {
  background: #3b9cd6;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  margin: 0 0 5px;
  padding: 5px 14px
}

.blogSec .blogContent .blogCategory a:hover {
  background: #141432;
  color: #fff
}

.blogSec .blogContent .blogTitle {
  margin: 0 0 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden
}

.blogSec .blogContent .blogTitle a {
  font-weight: 700;
  font-size: 24px;
  color: #201f1d
}

.blogSec .blogContent .blogTitle a:hover {
  color: #3b9cd6
}

.blogSec .blogContent .blogDescription {
  margin: 0 0 25px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden
}

.blogSec .blogContent .blogMetaItem {
  background: #f2f7f6;
  border-radius: 5px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 15px;
  padding: 13px
}

.blogSec .blogContent .blogMetaItem .date-icon i {
  color: #2f2f2f;
  font-weight: 400;
  margin: 0 7px
}

.blogSec .blogContent .blogMetaItem .date-icon span {
  font-size: 14px
}

/* ================================ Blogs Section Css End ================================ */


/* ================================ Our Top Cab Root Section Css Start ================================ */
.box {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 12px;
  margin-bottom: 4rem;
  box-shadow: 0 4px 24px 0 rgba(225, 225, 225, .25);
  margin-top: 57px;
}

/* ================================ Our Top Cab Root Section Css End ================================ */


/* ================================ Customer Reviews Anywaycab Section Css Start ================================ */

.clientReviewSec {
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 80px 0
}

.clientReviewSec .clientReviewColors span {
  position: absolute;
  z-index: -1
}

.clientReviewColors .round-small.bg-orange {
  background: #3b9cd6;
}

.clientReviewSec .clientReviewColors span:first-child {
  right: 5%;
  top: 50px
}

.clientReviewHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px
}

.clientReviewHeader h2 {
  font-size: 31px;
  color: #0a152f;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px
}

.clientReviewHeader h2::after {
  content: "";
  background-image: url(../Images/bg/title-bar.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px
}

.clientReviewHeader p {
  color: #676767;
  font-size: 18px;
  max-width: 730px;
  text-align: center
}

.clientReviewTestimonial {
  min-height: 318px;
}

.clientReviewCard {
  box-shadow: 0 4px 24px 0 rgba(225, 225, 225, .2509803922);
  background: #fff;
  border-radius: 5px;
  padding: 24px;
  margin-bottom: 40px
}

.clientReviewCard .clientReviewContent {
  background: #fcfcfc;
  padding: 24px;
  border-radius: 5px;
  text-align: center;
  height: 100%;
  position: relative
}

.clientReviewCard .clientReviewContent .clientImg .img-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto
}

.clientReviewCard .clientReviewContent .clientImg .img-avatar img {
  width: 100%;
  border-radius: 50%
}

.clientReviewCard .clientReviewContent p {
  margin: 24px 0;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box
}

.clientReviewCard .clientReviewContent h5 a {
  font-size: 18px;
  color: #0a152f
}

.clientReviewCard .clientReviewContent span {
  color: #676767;
  font-size: 14px;
  display: block
}

.clientReviewCard .clientReviewContent .clientQuataionMark {
  position: absolute;
  right: 15px;
  top: 15px
}

/* ================================ Customer Reviews Anywaycab Section Css End ================================ */


/* ================================ Image Slider Section Css End ================================ */

.top-features-anys {
  padding: 80px 0;
  background: #fff;
  position: relative;
  z-index: 1
}

@media(max-width:991.98px) {
  .top-features-anys {
    padding: 50px 0
  }
}

.top-features-anys .sec-title {
  margin-bottom: 40px
}

.top-features-anys .sec-title h4 {
  font-size: 18px;
  text-align: center
}

.top-features-anys .sec-bg img {
  position: absolute;
  z-index: -1
}

.top-features-anys .sec-bg img:first-child {
  left: 10px;
  top: 20%
}

.top-features-anys .sec-bg img:nth-child(2) {
  right: 20px;
  top: 100px
}

.top-features-anys .sec-bg img:nth-child(3) {
  bottom: 20px;
  right: 10px
}

.charter-company-slider .charter-company-logo span {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 74px;
  width: 100%;
  box-shadow: 0 4px 24px 0 rgba(225, 225, 225, .2509803922);
  background: #fff;
  border-radius: 5px
}

.charter-company-slider .charter-company-logo span img {
  width: auto
}