@media(max-width:1399.98px) {
  .benefitsCatGrid .benefitsCardContent h4 {
    font-size: 16px
  }

  /* ================================ Customers count Section ================================ */
  .customerCounterGroup .customerGroup .customerCount .countImg {
    width: 75px;
    height: 75px;
    margin-right: 14px
  }

  .customerCounterGroup .customerGroup .customerCount .countImg img {
    width: 35px
  }

}

@media(max-width:1199.98px) {
  .mainHeader .becomeDriverBtn .becomeDriverReg {
    padding: 7px 15px
  }

  .search-nav img {
    height: 30px;
    width: 30px;
  }

  .blueWay {
    color: var(--primary);
    font-size: 11px;
  }

  .blackWay {
    color: #000000;
    font-size: 11px;
  }

  .search-nav {
    padding: 8px 15px;
  }

  .search-nav .nav-link {
    padding: 6px 10px;
  }

  .mainHeader .mainNavbar.navbar .nav-link {
    font-size: 14px !important;
  }
}

@media(max-width:991.98px) {
  .mainClean .secondClean {
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    flex-wrap: wrap !important;
  }

  .benefits-sec {
    padding-bottom: 50px
  }

  .benefitsSec-header {
    margin-bottom: 30px
  }

  .benefitsSec-header h2 {
    font-size: 32px
  }

  .benefitsSec-header p {
    font-size: 16px
  }

  .taxiSec-heading {
    margin: 0 0 30px
  }

  .taxiSec-heading h2 {
    margin: 0 0 20px
  }

  .taxiSec-heading h2:after {
    bottom: -17px
  }

  .taxiSec-heading p {
    font-size: 16px
  }


  /* ================================ our taxi routes css start  ================================ */

  .taxiPopularServices .taxiListingGroup {
    margin: 0 0 30px
  }

  .taxiPopularServices .taxiListingGroup ul li a {
    padding: 8px 18px;
    font-size: 14px;
    min-width: 120px
  }

  .taxiPopularServices .taxiListingGroup ul li a span {
    padding: 8px;
    width: 30px;
    height: 30px
  }

  /* ================================ why choose us css start  ================================ */
  .whyChoose .whyChoose-right {
    display: none
  }

  .whyChoose-heading {
    margin: 0 0 30px
  }

  .whyChoose-heading h2 {
    margin: 0 0 20px
  }

  .whyChoose-heading h2:after {
    bottom: -17px
  }

  .whyChoose .services-group .services-icon {
    padding: 8px
  }

  .whyChoose .services-group .services-icon .icon-img {
    padding: 8px
  }


  /* ================================ about anyway cab css start ================================ */
  .aboutSecColLeftImg {
    display: none
  }

  .abouttAnyWaySec .aboutSecHeaderTwo {
    padding-left: 0
  }

  .abouttAnyWaySec {
    padding: 50px 0
  }

  /* ================================ Customers count Section ================================ */
  .customerSec {
    padding: 50px 0 40px
  }

  .customerCounterGroup {
    margin-bottom: 26px
  }

  /* ================================ Local Packages Section Css Start*/
  .destinationSec {
    padding: 50px 0 26px
  }

  .destinationSec .destinationSecHeading {
    max-width: 100%
  }

  .destinationBg {
    display: none
  }

  .destinationSecHeading {
    margin: 0 0 30px
  }

  .destinationSecHeading h2 {
    margin: 0 0 20px
  }

  .destinationSecHeading h2:after {
    bottom: -17px
  }

  .destinationSecHeading p {
    font-size: 16px
  }

  /* ================================ OneWay Cab Routes Section Css Start ================================ */
  .cabRoutesSecHeading h2 {
    margin: 0 0 20px
  }

  .cabRoutesSecHeading {
    margin: 0 0 30px
  }

  .cabRoutesItem .cabRoutesContent .cabRoutesFeatures .cabRoutesTitle a {
    font-size: 18px
  }

  .cabRoutesItem .cabRoutesImg .fav-item {
    font-size: 13px
  }

  .cabRoutesItem {
    padding: 15px
  }

  .cabRoutesSecHeading p {
    font-size: 16px
  }

  .cabRoutesSecHeading h2:after {
    bottom: -17px
  }

  /* ================================ Blogs Section Css End ================================ */
  .blogSec {
    padding: 60px 0
  }

  .blogSec.blogNewSec .blogGrid {
    margin-bottom: 30px
  }

  .blogSec .blogContent .blogTitle a {
    font-size: 20px
  }


  /* ================================ Customer Reviews Anywaycab Section Css Start ================================ */
  .clientReviewSec {
    padding-bottom: 50px
  }

  .clientReviewHeader {
    margin-bottom: 30px
  }

  .clientReviewHeader h2 {
    font-size: 32px
  }

  .clientReviewHeader p {
    font-size: 16px
  }

  .clientReviewCard {
    padding: 15px
  }

  .clientReviewCard .clientReviewContent {
    padding: 15px
  }
}

@media screen and (max-width: 991px) {

  .mainHeader .becomeDriverBtn .becomeDriverReg {
    padding: 8px 12px;
    font-size: 14px
  }

  .mainBannerBg {
    padding-top: 170px;
    padding-bottom: 90px;
  }

  .mainBannerBg .homeBannerContent .bannerTitle {
    font-size: 42px;
  }

  .mainBannerBg .homeBannerContent .bannerP {
    font-size: 18px;
  }

  .mainBannerBg .bannerSearchDiv {
    /* ================================ padding: 15px 20px 40px; ================================ */
    padding: 25px 20px 40px;
  }

  .mainHeader .mainNavbar.navbar .navbar-collapse {
    position: absolute;
    top: 75px;
    right: 0;
    padding: 0 20px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 #20202026;
    border-radius: 10px;
  }

  .mainHeader .mainNavbar.navbar .navbar-collapse .navbar-nav {
    padding: 0 20px;
  }

  .mainHeader .mainNavbar.navbar .navbar-collapse .nav-link {
    color: #757f95;
    font-weight: 700;
    transition: all .5s ease-in-out;
    padding: 5px 0;
  }


  /* ================================ Book Cab CssS ================================ */

  .search-nav {
    margin: 0px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: none !important;
    margin-top: 20px !important;
  }

  .bannerSearchDiv {
    position: relative;
    top: 0;
    border-radius: 0px 0px 8px 8px;
  }

  .bannerSearchDiv .bannerSearchForm .input-block-btn {
    padding: 8px 66px;
    border-radius: 42px;
    font-weight: 500;
    margin-top: 13px;
    background: linear-gradient(93deg, #53b2fe, #065af3);
    position: absolute;
    right: 19%;
    font-size: 20px;
    text-align: center;
  }

  .bannerSearchForm .bannerSearchCol {
    background: rgb(247, 247, 247) !important;
    height: 48px;
    border-radius: 4px;
    margin: 1px auto;
    border: solid 1px #e7e7e7;
  }

  /* .fromSelect .css-1dimb5e-singleValue {
    background: rgb(247, 247, 247) !important;
  }  */

  .fromSelect .css-1cfo1cf,
  .fromSelect .css-du1a0k-control,
  .fromSelect .css-du1a0k-control:hover,
  .fromSelect .css-13jpnx0-control {
    border: none !important;
    box-shadow: none !important;
    min-height: 0px !important;
    font-weight: 800 !important;
  }

  .bannerSearchForm .bannerSelect .form-control,
  .bannerSearchForm .bannerSelect .form-control:active,
  .bannerSearchForm .bannerSelect .form-control:focus {
    border: none !important;
    box-shadow: none !important;
    font-weight: 800 !important;
    line-height: 17px !important;
    background: rgb(247, 247, 247) !important;
  }

  .fromSelect .css-1cfo1cf,
  .fromSelect .css-du1a0k-control,
  .fromSelect .css-du1a0k-control:hover,
  .fromSelect .css-13jpnx0-control {
    border: none;
    box-shadow: none;
    padding: 1px 0px 0px 1px;
    font-weight: 800;
    font-size: 16px !important;
  }

  .bannerSearchForm .bannerSelect .form-control,
  .bannerSearchForm .bannerSelect .form-control:active,
  .bannerSearchForm .bannerSelect .form-control:focus {
    font-size: 16px !important;
    padding: 4px 2px 0px 1px;
  }

}

@media(max-width:767.98px) {
  .benefits-sec {
    padding-bottom: 40px
  }

  .benefitsSec-header h2 {
    font-size: 28px
  }

  /* ================================ our taxi routes css start  ================================ */
  .taxiPopularServices .taxiListingGroup ul {
    display: flex;
    align-items: center;
    justify-content: center
  }

  .taxiPopularServices .taxiListingGroup ul li a {
    min-width: 120px
  }

  /* ================================ why choose css start ================================ */
  .whyChoose .services-group::before {
    content: none
  }

  /* ================================ about anyway cab css start ================================ */
  .abouttAnyWaySec {
    padding: 40px 0
  }

  /* ================================ Customers count Section ================================ */
  .customerSec {
    padding: 40px 0 30px
  }

  .customerCounterGroup {
    margin-bottom: 16px
  }

  /* ================================ Local Packages Section Css Start*/
  .destinationWrap:hover .btn {
    top: 30px
  }

  /* ================================ Customer Reviews Anywaycab Section Css Start ================================ */
  .clientReviewSec {
    padding-bottom: 40px
  }

  .clientReviewHeader h2 {
    font-size: 28px
  }
}

@media screen and (min-width: 768px) {
  .taxiInstyIcon {
    display: flex !important;
    align-items: center !important;
    width: 25% !important;
    background: #f5f5f5 !important;
  }

  .taxiInstryText {
    width: 100% !important;
    display: flex;
    align-items: center;
    padding: 0 5px;
    background: #fff;
  }
}

@media screen and (max-width: 767px) {
  .mainBannerBg .homeBannerContent .bannerTitle {
    font-size: 37px;
  }

  .mainBannerBg .homeBannerContent .bannerP {
    font-size: 16px;
  }

  .mainClean .secondClean {
    display: flex;
    /*gap: 13px;*/
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }

  .mainClean .secondClean .thiredClean {
    padding: 12px 15px;
    border-right: unset;
    width: 100%
  }

  /* ================================ Blogs Section Css End ================================ */
  .blogSec .blogContent .blogTitle a {
    font-size: 18px
  }
}


@media(max-width:575.98px) {

  /* ================================ Blogs Section Css End ================================ */
  .blogSec {
    padding: 40px 0
  }
}

@media screen and (max-width: 575px) {

  .mainHeader {
    margin-top: 5px !important;
  }

  .mainBannerBg .homeBannerContent .bannerTitle {
    font-size: 22px;
  }

  .mainBannerBg .homeBannerContent .bannerP {
    font-size: 14px;
    line-height: 1.5;
  }

  .mainBannerBg .homeBannerContent {
    display: none;
  }

  .mainHeader .mainNavbar.navbar .navbar-collapse .nav-link {
    color: #757f95;
    font-weight: 700;
    transition: all .5s ease-in-out;
    padding: 5px 0;
  }


  .mainHeader .mainNavbar.navbar .navbar-collapse .nav-link:active {
    color: var(--primary);
    font-weight: 700;
    transition: all .5s ease-in-out;
    padding: 5px 0;
  }


}